.player {
  padding: 15px;
  text-align: center;
}
.player .player-photo {
  width: 100%;
  max-width: 200px;
}

.player .player-name {
  font-size: 1.5em;
  margin: 15px 0;
}

.player .player-number {
  font-size: 4em;
  font-weight: bold;
  margin: 15px 0;
  line-height: normal;
}
